* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 60.625rem;
    background-color: #E5E5E5;
    font-family: Nunito Sans, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

/* header {
    background: #c3c2c2;
    margin: 0%;
    height: 230px;
    display: flex;
    width: 100%;

} */

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-nav a {
    background: white;
    height: 50px;
    width: 80px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}


h1 {
    font-size: 3em;
    font-family: Poetsen One, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
h2 {
    font-size: 2em;
    font-family: Poetsen One, 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
.main-left-container {
    display: grid;
    padding: 0em;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto;
}
.main-left-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4em;
    background-color: #FFFFFF;
}
.main-left-item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #A889CB;
}
.history-left-container {
    display: grid;
    padding: 0em;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto auto;
}
.history-left-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #E085C2;
}
.history-left-item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #EEEEEE;
}
.history-left-item3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #A889CB;
}
.history-left-item4 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #EEEEEE;
}
.history-left-item5 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #7CE5CD;
}
.history-left-item6 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
    background-color: #EEEEEE;
}
.history-right-container {
    display: grid;
    padding: 0em;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto;
}
.history-right-item1 {
    /* padding: 0 2em; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4em;
    background-color: #FFFFFF;
}
.history-right-item2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7CE5CD;
}
.history-right-item3 {
    /* padding: 0 2em; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4em;
    background-color: #FFFFFF;
}
.history-right-item4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E085C2;
}